{% extends "base_generic.html" %}

{% block content %}
  <h1>People Depot Home</h1>
  <p>Welcome to People Depot, a website developed by <em>Hack for L.A.</em>!</p>
  <h2>Dynamic content</h2>
  <p>The database has the following record counts:</p>
  <ul>
    <li><strong>Users:</strong> {{ num_users }}</li>
    <li><strong>Projects:</strong> {{ num_projects }}</li>
    <li><strong>Recurring Events:</strong> {{ num_r_events }}</li>
  </ul>
  <form method="POST" class="post-form">
    {% csrf_token %}
    {{ form.media }}
    {{ form }}
    <button type="submit">Submit</button>
  </form>
{% endblock %}
